button {
    background-color: #E6E6E6;
    border: 2px solid black;
    font-family: Pixellari;
    font-size: 32px;
    margin: none;
}

button:enabled button:hover {
    background-color: #D8D8D8;
}

button:enabled button:active {
    background-color: #BDBDBD;
    border: 2px solid #151515;
}

button::-moz-focus-inner {
    border: 0;
}

.attack {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.attack:hover {
    background-color: pink;
}

.attack:active {
    background-color: #F4393B;
    border: 2px solid #151515;
}

.menu {
    font-size: 20px;
    height: 40px;
    width: 46px;
}

#fighterMenu, #upgradeMenu {
    border-right: none;
}

#fighterMenu {
    width: 125px;
}

#upgradeMenu {
    display: none;
}

.mii {
    border-right: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.mii:enabled .mii:active {
    border-right: none;
}

.mii:enabled .mii:active .amountLabel {
    color: #D8D8D8;
}

.dmgUpgrade, .spiritsUpgrade, .boostUpgrade, .attackUpgrade {
    font-size: 20px;
}

.dmgUpgrade, .spiritsUpgrade {
    height: 125px;
    width: 160px;
}

.boostUpgrade, .attackUpgrade {
    width: 100%;
}

.dmgUpgrade {
    background-color: #F4393B;
}

.spiritsUpgrade {
    background-color: yellow;
}

.boostUpgrade {
    background-color: cyan;
}

.attackUpgrade {
    background-color: red;
}