@font-face { 
    font-family: Pixellari;
    src: url("../Fonts/Pixellari.ttf");
}

:disabled {
    filter: grayscale(100%);
    opacity: .9;
}

.hidden {
    display: none;
}

.mii.hidden {
    display: none;
}

html, body, div, span, button, img, p {
    margin: 0;
    padding: 0;   
}

html {
    background: url("../Images/bgSubspace.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Pixellari";
}

#mainPanel {
    display: flex;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

#leftPanel {
    position: relative;
    width: 30%;
}

#centrePanel {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    width: 33%;
}

#attackPanel {
    display: inline-block;
    width: 91%;
}

#rightPanel {
    width: 37%;
}

#buttonPanel {
    display: inline-flex;
    text-align: left;
}

/* QMessageBox {
    border: 2px solid black;
}

QMessageBox QLabel {
    color: black;
    min-width: 700px;
    padding-right: 20px;
}

QMessageBox QPushButton {
    padding: 5px 10px 5px 10px;
}*/

img {
    position: relative;
}

#enemy {
    height: 45vh;
}

#enemyImage {
    height: 100%;
}

div, p, span {
    color: #E6E6E6;
    font-size: 24px;
}

p {
    text-align: center;
}

.label {
    font-size: 40px;
}

#spiritsLabel {
    color: #1f8f43;
    padding-top: 7px;
}

.icon {
    height: 120px;
    width: 125px;
    padding-top: 2px;
}

.buttonInfo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 130px;
    bottom: 20px;
    right: 0;
}

.miiText {
    color: black;
    font-size: 32px;
    position: relative;
    text-align: left;
}

.costLabel {
    color: #1f8f43;
    position: relative;
    padding-left: 22px;
    text-align: left;
}

.costLabel::before {
    content: url("../Images/spiritsIcon.png");
    height: 20px;
    width: 20px;
    position: absolute;
    left: 2px;
}

.amountLabel {
    color: #bebebe;
    font-size: 120px;
    position: absolute;
    top: -12px;
    right: 15px;
    text-align: right;
}

.dpsLabel {
    color: #F4393B;
    position: absolute;
    top: 73px;
    right: 25px;
    text-align: right;
}

.event {
    font-size: 24px;
}

#eventLabel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#hpLabel {
    color: red;
}

#lvlLabel {
    color: #00ff22;
}

#hpBar {
    background-color: #E6E6E6;
    border: 2px solid black;
    color: red;
    width: 90%;
}

#hpBar::-moz-progress-bar, #hpBar::-webkit-progress-value {
    background: red;
}

#lvlBar {
    background-color: #E6E6E6;
    border: 2px solid black;
    color: #00ff22;
    width: 90%;
}

#lvlBar::-moz-progress-bar, #hpBar::-webkit-progress-value {
    -webkit-appearance: none;
    background-color: #00ff22;
}

#num {
    font-size: 32px;
}
