@font-face { font-family: Pixellari; src: url("Fonts/Pixellari.ttf"); }

html {
    background: url("Images/bgSubspace.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Pixellari";
}

body {
    margin: 0;
}

#panel {
    display: flex;
}

#leftPanel {
    width: 30%;
}

#centrePanel {
    width: 33%;
}

#rightPanel {
    width: 37%;
}

/* QMessageBox {
    border: 2px solid black;
}

QMessageBox QLabel {
    color: black;
    min-width: 700px;
    padding-right: 20px;
}

QMessageBox QPushButton {
    padding: 5px 10px 5px 10px;
}*/

.fighterImage {
    text-align: left;
    float: left;
}

button {
    align-items: center;
    background-color: #E6E6E6;
    border: 2px solid black;
    display: inline-flex;
    font-family: Pixellari;
    font-size: 32px;
    width: 100%;
}

button:hover {
    background-color: #D8D8D8;
}

button:active {
    background-color: #BDBDBD;
    border: 2px solid #151515;
}
/*
#minimize{
    padding: 90px;
    font-size: 32px;
}

#close {
    font-size: 16px;
}

#attack {
    font-size: 40px;
}

#attack::hover {
    background-color: pink;
}

#attack::pressed {
    background-color: #F4393B;
    border: 2px solid #151515;
}

#menu {
    font-size: 20px;
}*/

    .mii {
        color: black;
        padding-top: 2px;
        text-align: left;
    }
/*
#dmgUpgrade {
    background-color: #F4393B;
    font-size: 20px;
}

#goldUpgrade {
    background-color: yellow;
    font-size: 20px;
}

#boostUpgrade {
    background-color: cyan;
    font-size: 20px;
}

#attackUpgrade {
    background-color: red;
    font-size: 20px;
}*/

p {
    color: #E6E6E6;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

    #hp {
        font-size: 40px;
    }

/*
#label {
    font-size: 24px;
}

#icon {
    padding-top: 1px;
    padding-left: 2px;
}

#costLabel {
    color: goldenrod;
    font-size: 24px;
    padding-top: 90px;
    padding-left: 130px;
    text-align: left;
}

#amountLabel {
    color: #A4A4A4;
    font-size: 88px;
    padding-top: 5px;
    text-align: right;
}

#dpsLabel {
    color: #F4393B;
    font-size: 24px;
    padding-top: 90px;
    padding-right: 20px;
    text-align: right;
}

#title {
    font-size: 16px;
}

#event {
    font-size: 24px;
}*/

    #hpLabel {
        color: red;
    }
/*
#lvlLabel {
    color: #04B404;
}*/

#goldLabel {
    color: goldenrod;
}

#gold {
    font-size: 40px;
}
/*
#num {
    font-size: 32px;
}

QProgressBar#hpBar::chunk {
    background-color: red;
}

QProgressBar#progressBar::chunk {
    background-color: #04B404;
} */
